body {
    font-family: 'SF Mono', sans-serif;
}

.row {
    margin: 0px;
}


/* TYPOGRAPHY */
h1,
h2,
h3 {
    font-family: 'SF Mono';
    font-weight: 700;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #777777;
    font-weight: 300;
}

.accent {
    color: #0FF;
}

.accent-bgr {
    background-color: #2384E4;
    padding: 5px 10px;
}

.bold-text {
    font-weight: 700;
}

.cyber-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #0078D4;
}

.highlight {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
    color: #00CFFF;
}

.highlight~p {
    margin-left: 20px;
}

/* Custom header */
.navbar {
    padding: .1rem 1rem!important;
}

/* Banner css here */
.cyber-dino-banner {
    margin: 0 auto;
    position: relative;
    height: 700px;
    background: linear-gradient(60deg, #1B9DE2 0% 70%, #E1FAFF 100%);
    /* background-image: url('image/bgr.svg');
    background-repeat: no-repeat;
    background-size: cover; */

}

/* #home {
    background-image: url('image/bg-feature.svg');
    mix-blend-mode: screen;
} */

.cyber-dino-banner .cyber-small {
    position: absolute;
    left: 0px;
    top: 76px;
    mix-blend-mode: color-dodge;
}

.cyber-dino-banner .cyber-big {
    position: absolute;
    left: 50%;
    top: 5%;
}

.cyber-dino-banner .cyber-big img {
    width: 100%;
    height: auto;
}

.cyber-dino-banner .banner-content {
    margin-left: 10%;
    padding-top: 10%;
    color: white;
}

.cyber-dino-banner .banner-content .description {
    margin-left: 5%;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: white;
    letter-spacing: 3px;
}

/* Cyber dinor content css here */
/* .cyber-dinor-content {
    width: 100%;
    max-width: 1440px; 
    margin: 0px auto;
}
*/

/* About us css here */
.about-us-title {
    margin-top: 70px;
}

.about-us-content {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    color: #777777;
}

.about-us-our-mission {
    padding: 10% 0px;
}

.about-us-our-values {
    margin: 65px 0px 150px;
}

.our-mission-text {
    width: 75%;
}


.our-mission-img img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.binary-bg {
    position: absolute;
    bottom: 0px;
    right: 50px;
}

/* Services css here */
.cyber-dinor-services {
    padding-bottom: 100px;
}

.list-services {
    margin-top: 110px;
    width: 50%;

    height: 700px;
    display: flex;
    flex-direction: row;
}

.services-col {
    justify-content: center;
}

.services-col:nth-child(2n+1) {
    align-self: flex-end;
}

.service-name {
    font-family: 'SF Mono';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.service-item {
    width: 220px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    margin-bottom: 40px;
    background: #fff;
    text-align: center;
}

.service-description {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #777777;
}

.logical-bg {
    position: absolute;
    top: 150px;
    left: 45%;
    z-index: -1;
}

.creative-bg {
    position: absolute;
    bottom: 140px;
    right: 4%;
    z-index: -1;
}

.blur-bg {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -100;
    background: rgba(157, 237, 255, 0.3);
    filter: blur(100px);

}

/* Features css here */
.features-content {
    margin-top: 100px;
    background-image: url("images/svg/bg-feature.svg");
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.features-description {
    width: 60%;
}

.features-description img {
    margin-bottom: ;
}

.features-description p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.feature-img {
    width: 100%;
    height: auto;
}

/* Contact us css here */
.contact p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.contact a {
    color: #00CFFF;
    text-decoration-line: underline;
}

.contact-description {
    width: 70%;
}


/* DECO PATTERN */

.binary-deco {
    font-family: 'SF Mono';
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #00CFFF;
    opacity: 15%;
    z-index: -1;

    position: absolute;
    top: 60%;
    left: 35%;
}

.pat-02 {
    color: #2384E4;
    top: 70%;
    left: 10%;
}

.pat-logical {
    color: #00CFFF !important;
    top: 12%;
    left: 45%;
    opacity: 30%;
}

.ml {
    margin-left: 30px;
}

.pat-creative {
    color: #FFE49D;
    top: 67%;
    left: 62%;
    opacity: 80%;
}

.cyber-dino-logo {
    height: 50px;
}

/* .cyber-dino-header {
    position: fixed;
} */

.cyber-dino-banner .cyber-big #cb-deco-big {
    position: relative;
    top: 50px;
    /* left: 10%; */
    /* mix-blend-mode:color-dodge; */
    mix-blend-mode: screen;
}

.cyber-dino-banner .cyber-big #cb-deco-big img{
    width: 100%;
    height: auto;
}

/* .cyber-dino-banner .cyber-big #cb-deco-small {
    position: absolute;
    width: 70%;
    height: auto;
    top: 10%;
    left: 40%;
    mix-blend-mode: color-dodge;
    opacity: 20%;
} */

.cyber-small img {
    position: relative;
    top: 75px;
    left: 30%;
    /* opacity: 50%; */
    mix-blend-mode: screen;
}

h1 {
    /* text-shadow: 2px 2px 0 #bbb; */
    text-shadow: 2px 2px 0 rgb(123, 191, 255);
}


/* carousel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.features-content {
    flex: 0 0 100%;
    /* add any other styles you need for the feature content */
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    /* margin: 1%; */
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

@media (min-width: 768px) {}

/* MOBILE */
@media (max-width: 768px) {
    .cyber-small {
        width: 40%;
    }

    /* Banner css here */
    .cyber-dino-banner {
        position: relative;
        width: 100%;
        height: 700px;

    }

    .cyber-dino-banner .cyber-small {
        position: absolute;
        left: 0px;
        top: 5%;
        mix-blend-mode: color-dodge;
    }

    .cyber-dino-banner .cyber-big {
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .cyber-dino-banner .cyber-big #cb-deco-big {
        width: 80%;
        height: auto;
    }

    .cyber-dino-banner .cyber-big #cb-deco-small {
        position: absolute;
        left: 50%;
        left: 35%;
        width: 60%;
        opacity: 10%;
    }

    .cyber-dino-banner .banner-content {
        margin-left: 0px;
        padding-top: 10%;
    }

    .banner-content img {
        width: 300px;
    }

    .cyber-dino-banner .cyber-small img {
        position: relative;
        width: 80%;
        opacity: 80%;
    }

    .cyber-dino-banner .banner-content .description {
        margin-left: 10%;
        margin-top: 5%;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        letter-spacing: 3px;
    }

    #cb-deco-big {
        position: relative;
        top: 50px;
        left: 10%;
        mix-blend-mode: screen;
    }

    h2,
    .cyber-title {
        font-size: 36px;
        line-height: 48px;
    }

    .about-us-content {
        font-size: 18px;
        line-height: 28px;
    }

    .highlight {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .highlight~p {
        font-size: 16px;
        line-height: 24px;
    }

    .our-mission-text {
        width: 100%;
    }

    /* DECO PATTERN */
    .binary-deco {
        font-family: 'SF Mono';
        font-size: 38px;
        line-height: 54px;
        font-weight: 700;
        color: #00CFFF;
        opacity: 10%;
        z-index: -1;

        position: absolute;
        top: 10%;
        left: 20%;
    }

    .pat-02 {
        color: #2384E4;
        top: 60%;
        left: 40%;
        margin-bottom: 100px;
    }

    .pat-logical {
        top: 5%;
        left: 7%;
        opacity: 30%;
        font-size: 30px;
        line-height: 42px;
    }

    .pat-creative {
        color: #FFE49D;
        top: 75%;
        left: 7%;
        opacity: 70%;
        font-size: 30px;
        line-height: 42px;
    }

    .list-services {
        margin-top: 40%;
        margin-bottom: 40%;
        width: 100%;
        /* max-width: 740px;
        height: 690px; */
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
    }

    .services-col {
        display: flex;
        justify-content: center;

    }

    /* .services-col:nth-child(2n+1) {
        align-self: flex-start;
    } */

    .services-col:nth-child(2n+1) {
        align-self: flex-start;
    }

    .service-item {
        width: 170px;
        height: 170px;
        background: #FFFFFF;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 5px;
        margin-bottom: 0%;
        background: #fff;
        text-align: center;
        margin-right: 5%;
    }

    .features-content {
        margin-top: 20px;
        background-image: url("images/svg/bg-feature.svg");
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }

    .features-description {
        width: 100%;
        text-align: center;
        padding: 15%;
    }

    .features-description p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
    }

    .fea-deco {
        top: 70%;
        left: 30%;
    }

    .contact-description p {
        font-size: 16px;
        line-height: 24px;
    }


}