body {
    font-family: 'SF Mono', sans-serif;
}

.row {
    margin: 0px;
}


/* TYPOGRAPHY */
h1,
h2,
h3 {
    font-family: 'SF Mono';
    font-weight: 700;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #777777;
    font-weight: 300;
}

.accent {
    color: #0FF;
}

.accent-bgr {
    background-color: #2384E4;
    padding: 5px 10px;
}

.bold-text {
    font-weight: 700;
}

.cyber-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #0078D4;
}

.highlight {
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 20px;
    color: #00CFFF;
    font-size: 28px;
}

.highlight ~ p {
    margin-left: 20px;
}

/* Custom header */
.cyber-dino-header .navbar {
    padding-right: 12%;
    padding-left: 5%;
}

.cyber-dino-header .navbar-nav {
    width: 400px;
}

/* Banner css here */
.cyber-dino-banner {
    position: relative;
    height: 700px;
    background: linear-gradient(90deg, #0069D0 0%, #B0F0FF 100%);
}

.cyber-dino-banner .cycber-small {
    position: absolute;
    left: 0px;
    top: 76px;
    mix-blend-mode: color-dodge;
}

.cyber-dino-banner .cycber-big {
    position: absolute;
    left: 711px;
    top: 37px;
}

.cyber-dino-banner .banner-content {
    margin-left: 135px;
    padding-top: 15%;
    color: white;
}

.cyber-dino-banner .banner-content .description {
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    letter-spacing: 3px;
}

/* Cyber dinor content css here */
.cyber-dinor-content {
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

/* About us css here */
.about-us-title {
    margin-top: 70px;
}

.about-us-content {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    color: #777777;
}

.about-us-our-mission {
    padding: 115px 0px;
}

.about-us-our-values {
    margin: 65px 0px 100px;
}

.our-mission-text {
    width: 60%;
}

.binary-bg {
    position: absolute;
    bottom: 0px;
    right: 50px;
}

/* Services css here */
.cyber-dinor-services {
    padding-bottom: 100px;
}

.list-services {
    margin-top: 110px;
    width: 53%;
    min-width: 740px;
    height: 690px;
    display: flex;
    flex-direction: row;
}

.services-col {
    justify-content: center;
}

.service-name {
    font-family: 'SF Mono';
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.service-item {
    width: 220px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    margin-bottom: 40px;
    background: #fff;
    text-align: center;
}

.service-description {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #777777;
}

.logical-bg {
    position: absolute;
    top: 150px;
    left: 45%;
    z-index: -1; 
}

.creative-bg {
    position: absolute;
    bottom: 140px;
    right: 4%;
    z-index: -1; 
}

.blur-bg {
    position: absolute;
    width: 587px;
    height: 587px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    background: rgba(157, 237, 255, 0.3);
    filter: blur(100px);
}

/* Features css here */
.features-content {
    margin-top: 100px;
    background-image: url("images/svg/bg-feature.svg");
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.features-description {
    width: 60%;
}

.features-description p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

/* Contact us css here */
.contact p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.contact a {
    color: #00CFFF;
    text-decoration-line: underline;
}

.contact-description {
    width: 70%;
}


/* DECO PATTERN */

.binary-deco {
    font-family: 'SF Mono';
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #00CFFF;
    opacity: 10%;
    z-index: -1;

    position: absolute;
    top: 300px;
    left: 250px;
}

.pat-02 {
    color: #2384E4;
    top: 350px;
    left: 270px;
}

.pat-logical {
    color: #2384E4;
    top: 12%;
    left: 45%;
    opacity: 30%;
}

.ml {
    margin-left: 30px;
}

.pat-creative {
    color: #FFE49D;
    top: 67%;
    left: 62%;
    opacity: 80%;
}

.cyber-dino-logo img {
    height: 40px; 
}

/* .cyber-dino-header {
    position: fixed;
} */

#cb-deco-big {
    position: relative;
    top: 50px;
    left: 10%;
    mix-blend-mode: screen;
}

#cb-deco-small {
    position: relative;
    top: 20px;
    right: 100px;
    mix-blend-mode: screen;
    opacity: 20%;
}

.cycber-small img {
    position: relative;
    left: 50px;
    opacity: 50%;
}

h1 {
    /* text-shadow: 2px 2px 0 #bbb; */
    text-shadow: 2px 2px 0 rgb(123, 191, 255);
}



